.events_page__items {
    text-align: center;
    border: 0.05rem solid #f59548;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.events__list {
    max-width: 90%;
    margin: 2rem auto;
    width: 40rem;
    list-style: none;
    padding: 0;
}

.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #f59548;
    color: #fcf7d9;
}

.events_page__items button {
    // min-width: 165px;
    width: auto;
    height: 3rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    padding: 0 1rem 0 1rem;
    margin-right: 1rem;
    // font-size: 15px;
    background-color: #f59548;
    color: #100f10;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #100f10;
        color: #fcf7d9;
        border: 0.05rem solid #f59548;
    }
}